<h2><%= @list.name %></h2>
<ul><%= @list.bookmarks.each do |bookmark| %>
  <li> <%= bookmark.comment %> </li>
  <% end %>
</ul>

<p> <%= link_to "Add new bookmark!", new_list_bookmark_path(list_id: @list.id) %> </p>
<p> <%= link_to "See my watch lists", lists_path %> </p>
